# Entorno de la aplicación: 'develop' | 'stg' | 'prod'
ENV=develop
NEXT_PUBLIC_ENV=develop

# URL base de la API del Backend (sin slash final)
# Local: http://localhost:5056/api/v1
# Staging: http://cjr-staging.runasp.net/api/v1
NEXT_PUBLIC_API_URL=http://localhost:5056/api/v1
